<div class="guess-row">
  <div class="row">
    <div class="tile" data-state="empty" data-animation="idle"></div>
    <div class="tile" data-state="empty" data-animation="idle"></div>
    <div class="tile" data-state="empty" data-animation="idle"></div>
    <div class="tile" data-state="empty" data-animation="idle"></div>
    <div class="tile" data-state="empty" data-animation="idle"></div>
  </div>
</div>