<%= turbo_frame_tag dom_id(guess) do %>
  <div class="guess-row non-empty"
    data-controller="guess"
    data-guess-origin-value="<%= refresh ? 'refresh' : 'reveal' %>">
    <div class="row" data-guess-target="row">
      <% guess.evaluations.map.with_index do |evaluation, i| %>
        <div class="tile" data-state="<%= evaluation %>" data-animation="idle">
          <%= is_visible ? guess.word[i] : '' %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>