<div class="game">
  <div class="board-container">
    <!-- TODO: fixed height hack -->
    <div class="board" style="width: 303px; height: 355px;">
      <%= turbo_stream_from player %>
      <%= turbo_frame_tag dom_id(player) do %>
        <%= render player.guesses %>
      <% end %>
      <% (Player::MAX_GUESSES - player.guesses.size).times do %>
        <%= render partial: 'guesses/empty_row' %>
      <% end %>
    </div>
  </div>
</div>
