<div class="container">
  <h1>Wordle With Friends</h1>

  <% %w{ dashboard signup form }.each do |partial| %>
    <%= render partial: partial, locals: { room: @room } %>
  <% end %>

  <%= turbo_stream_from @room, :players %>
  <%= turbo_frame_tag :room_boards do %>
    <%= render partial: 'board', collection: @room.players, as: :player %>
  <% end %>
</div>