<div class="container">
  <h1>Wordle With Friends</h1>

  <%= render partial: 'dashboard', locals: { room: @room } %>
  <%= render partial: 'signup', locals: { room: @room } %>
  <%= render partial: 'form', locals: { room: @room, guess: @guess } %>
  <%= render partial: 'boards', locals: { room: @room } %>
</div>